* {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
/* global styling  */
.container {
  max-width: 1100px;
  margin: auto;
}
/* header styling  */
header {
  border-bottom: 2px solid #dcdce3;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1px;
  vertical-align: middle;
  text-decoration: none;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-wrapper img {
  height: 60px;
  max-width: 60px;
  display: inline-block;
  object-fit: cover;
}
header .logo-wrapper span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000c9;
}
.navbar ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  font-size: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #2b2e38;
  font-weight: 500;
}
main {
  padding: 20px 20px;
}
/* random dog image styling  */
.control {
  max-width: 100%;
  padding: 0 15px;
}
input#randomAPIInputField {
  padding: 0.8rem 1rem;
  background: #eeeeee;
  border: none;
  width: 340px;
  font-size: 1rem;
  font-weight: 500;
}
input#randomAPIInputField:focus {
  border: none;
  outline: none;
}
#fetchBtn {
  padding: 0.8rem 1rem;
  border: none;
  background-color: #1782c4;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  margin-left: -4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#fetchBtn:hover {
  background-color: #035c94;
}
.randomDogImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  gap: 15px;
  margin-top: 40px;
  scroll-padding-top: 120px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
}
.randomDogImages .fullwidth {
  /* Styles when the 'fullwidth' class is applied */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: 9999;
  background-color: black;
  display: grid;
  place-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.dog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
main {
  max-width: 1100px;
  margin: auto;
}
.thumbnail-img {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dog-image {
  cursor: pointer;
}
.fullwidth {
  width: 100%;
}
.randomDogImages {
  position: relative;
}

.fullwidth {
  width: 100%;
  display: block;
}
.removeDogBtn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 200px;
  z-index: 9999;
  font-size: 1.1rem;
  cursor: pointer;
}
