* {
  padding: 0px 4px;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
main {
  max-width: 1100px;
  margin: auto;
  padding: 20px 20px;
}
/* random dog image styling  */
.control {
  max-width: 100%;
}
input#randomAPIInputField {
  padding: 0.8rem 1rem;
  background: #eeeeee;
  border: none;
  width: 340px;
  font-size: 1rem;
  font-weight: 500;
}
input#randomAPIInputField:focus {
  border: none;
  outline: none;
}
#fetchBtn {
  padding: 0.8rem 1rem;
  border: none;
  background-color: #1782c4;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  margin-left: -4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#fetchBtn:hover {
  background-color: #035c94;
}
.randomDogImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  gap: 15px;
  margin-top: 40px;
}

.dog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
