* {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
/* global styling  */
.container {
  max-width: 1100px;
  margin: auto;
}
/* header styling  */
header {
  border-bottom: 1px solid #dcdce3;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1px;
  vertical-align: middle;
  text-decoration: none;
}

header .logo-wrapper img {
  height: 60px;
  max-width: 60px;
  display: inline-block;
  object-fit: cover;
  margin-left: -10px;
}
header .logo-wrapper span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000c9;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar .nav-links {
  display: flex;
  gap: 1.4rem;
  list-style-type: none;
  font-size: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #2b2e38;
  font-weight: 500;
}
.hamburger-menu span {
  width: 20px;
  height: 3px;
  margin-bottom: 3px;
  display: block;
  background-color: #222;
}
.hamburger-menu {
  display: none;
}

main {
  padding: 20px 20px;
  max-width: 1100px;
  margin: auto;
}

/* random dog image styling  */
.control {
  max-width: 100%;
}
input#randomAPIInputField {
  padding: 0.8rem 1rem;
  background: #eeeeee;
  border: none;
  width: 100%;
  max-width: 340px;
  font-size: 1rem;
  font-weight: 500;
}
input#randomAPIInputField:focus {
  border: none;
  outline: none;
}
#fetchBtn {
  padding: 0.8rem 1rem;
  border: none;
  background-color: #1782c4;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  margin-left: -4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
#fetchBtn:hover {
  background-color: #035c94;
}
.randomDogImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(254px, 100%), 1fr));
  gap: 15px;
  margin-top: 40px;
  scroll-padding-top: 120px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.randomDogImages .fullwidth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: 9999;
  background-color: black;
  display: grid;
  place-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.thumbnail-img {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dog-image {
  cursor: pointer;
}
.fullwidth {
  width: 100%;
}
.randomDogImages {
  position: relative;
}
.removeDogBtn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 200px;
  z-index: 9999;
  font-size: 1.1rem;
  cursor: pointer;
}
@media (max-width: 568px) {
  header {
    padding-inline: 15px;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu span {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .navbar .nav-links {
    position: absolute;
    top: 54px;
    left: 0;
    background-color: #111;
    width: 100%;
    flex-direction: column;
    gap: 1.2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  .nav-links.active {
    max-height: 200px;
    z-index: 1;
    padding: 1rem;
  }
  .nav-links.active li a {
    color: #fff;
  }
  .hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 6px);
  }
  .hamburger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -7px);
  }
  input#randomAPIInputField {
    width: 100%;
  }
  .control {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  header .logo-wrapper span {
    display: none;
  }
}
